<% include ./partials/header.ejs %>
<h1>About Scot McLean</h1>
<div class="row">
    <div id="row1"class="col-md-6">
        <h2>School:</h2>
        <p>Hello there! I'm Scot! Currently a student at Georgian college for Computer Programming. this is my
        second year. Hopefully after this program I will go to McMaster University. </p>
    </div>
    <div id="row1"class="col-md-6">
      <h2>Home Life:</h2>
      <p>I was born in a small town called Erin. Have to okayish sisters and the best parents a guy could ask for.</p>
    </div>
    <div id="row1"class="col-md-6">
      <h2>Hobbies:</h2>
      <p>A couple of my prefered hobbies are Hockey, Baseball, Reading, Netflix, Chillin, and games such as Counter Strike and Melee.</p>
    </div>
    <div id="row1"class="col-md-6">
      <h2>Fun Facts:</h2>
      <p>My favourite food is Pancakes. My dogs name is Ben, my favourite number is 8  and I can bench 185 for 12 reps.</p>
    </div>
</div>


<% include ./partials/footer.ejs %>
