<% include ./partials/header.ejs %>
<h2><u>Hello there, I'm Scot!</u></h2>
<div class="row">
    <div id="row1"class="col-md-6">
        <h3>School:</h3>
        <p id="p2"> Currently a student at Georgian college for Computer Programming. this is my
        second year. Hopefully after this program I will go to McMaster University. </p>
    </div>
    <div id="row1"class="col-md-6">
      <h3>Home Life:</h3>
      <p id="p">I was born in a small town called Erin. Have two okayish sisters and the best parents a guy could ask for.</p>
    </div>
    <div id="row1"class="col-md-6">
      <h3>Hobbies:</h3>
      <p id="p">A couple of my prefered hobbies are Hockey, Baseball, Reading, Netflix, Chillin, and games such as Counter Strike and Melee.</p>
    </div>
    <div id="row1"class="col-md-6">
      <h3>Fun Facts:</h3>
      <p id="p">My favourite food is Pancakes. My dogs name is Ben, my favourite number is 8  and I can bench 185 for 12 reps.</p>
    </div>
</div>


<% include ./partials/footer.ejs %>
