<% include ./partials/header.ejs %>
<h2 id="prow"><u>Thanks for the Email! It's currently processing</u></h2>
<div class="row">
    <div class="col-lg">
        <img id="buffering"src="images/buffering.gif" alt="lmao">
    </div>
</div>


<% include ./partials/footer.ejs %>
