<% include ./partials/header.ejs %>
    <h2><u>Projects:<u></h2>
    <div class="row">
      <div id="row2"class="col-sm-4">
        <p> <a href="http://scotmclean.ca/project1/players.php">PHP project 1</a></p>

      </div>
      <div id="row2"class="col-sm-4">
        <p><a href="http://scotmclean.ca/scot/comp1006/project02/examples/index.php">PHP project 2</a></p>

      </div>
    </div>
<% include ./partials/footer.ejs %>
