<% include ./partials/header.ejs %>
<h2><u>Services:</u></h2>
<div class="row">
  <div id="row2"class="col-sm-4">
    <p>Java</p>
    <img src="/images/javat.png" alt="java">
  </div>
  <div id="row2"class="col-sm-4">
    <p>Html</p>
    <img src="/images/html.png" alt="html">
  </div>
  <div id="row2"class="col-sm-4">
    <p>CSS</p>
    <img src="/images/css.png" alt="css">
  </div>
</div>
<div class="row">
  <div id="row2"class="col-sm-4">
    <p>SQL</p>
    <img src="/images/sql.png" alt="sql">
  </div>
  <div id="row2"class="col-sm-4">
    <p>C#</p>
    <img src="/images/csharper.png" alt="sql">
  </div>
  <div id="row2"class="col-sm-4">
    <p>JavaScript</p>
    <img src="/images/js.png" alt="javaScript">
  </div>
</div>
<% include ./partials/footer.ejs %>
